// COLORS
$primary: #CDA274;
$secondary: #292F36;
$tertiary: #F4F0EC;

// FONT FAMILY
$regular: "primary-regular";
$medium: "primary-medium";
$bold: "primary-bold";

$regularAux: "secondary-regular";
$mediumAux: "secondary-medium";
$boldAux: "secondary-bold";

// FONT SIZES
$fontXS: 18px;
$fontS: 20px;
$fontM: 22px;
$fontL: 25px;
$fontLL: 35px;
$fontXL: 50px;
$fontXXL: 85px;
